@font-face {
  font-family: racingsansone-regular;
  src: url("https://cdn.liyitongxue.com/fonts/racingsansone-regular.woff");
}
@font-face {
  font-family: Segoe-Print;
  src: url("https://cdn.liyitongxue.com/fonts/Segoe-Print.woff");
}

.navbar .navbar-left .site-name{
	font-family: 'racingsansone-regular';
}

.page .blog-hero .description{
	font-family: 'Segoe-Print';
}

// https://vuepress-theme-hope.github.io/v2/zh/guide/blog/home.html#bgimage
// 背景hero图片，等价于在README.md-Frontmatter中配置bgImage:https://cdn.liyitongxue.com/mask1.png
// .page .blog-hero .mask{
// 	background: url("https://cdn.liyitongxue.com/mask1.png") center center / cover no-repeat !important;
// 	overflow:hidden;
// }
